.logo {
    height: 3em;
}

.row-fluid [class*="span"] {
    min-height: 1em;
}

.playlist .items {
    height: 300px;
    overflow: auto;
}

.playlist-item {
    cursor: pointer;
    margin-bottom: 2px;
    border-radius: 5px;
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    padding: 0.5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playlist-item.active {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.playlist-item #duration {
    display: block;
}

.playlist-item:hover #duration {
    display: none;
}

.playlist-item #actions {
    display: none;
}

.playlist-item:hover #actions {
    display: block;
}

.playlist-item #infos {
    height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playlist-item #infos .row-fluid .span12 {
    line-height: 1em;
}

.volume .bar,
.volume {
    height: 28px;
}

i[class*=icon]:hover {
    opacity: 0.5;  
}
