.logo {
    height: 3em;
}

.row-fluid [class*="span"] {
    min-height: 1em;
}

.playlist .items {
    height: 300px;
    overflow: auto;
}

.playlist-item {
    margin-bottom: 2px;
    border-radius: 5px;
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.playlist-item.active {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.playlist-item #identifier {
    line-height: 3.5em;
    padding-left: 0.25em;
}

.playlist-item #actions {
    line-height: 3.5em;
}

.playlist-item #infos {
    padding: 0.5em;
}

.playlist-item #infos .row-fluid .span12 {
    line-height: 1em;
}
